@charset "UTF-8";
.toranoko .common__index i {
  margin-right: 1px;
  width: 15px;
  text-align: center;
  font-size: 0.675rem;
}
.toranoko__index {
  padding: 15px 15px 5px;
}
.toranoko__title {
  color: #FFF;
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.toranoko__title--crs {
  display: block;
  font-size: 1.25rem;
}
.toranoko__title--no {
  font-size: 1.4rem;
  padding: 0 3px;
}
.toranoko__about {
  text-align: right;
}
.toranoko__about p {
  font-size: 0.8rem;
  margin: 5px;
}
.toranoko__contents-wrap {
  padding: 20px;
  padding-bottom: 0;
}
.toranoko__video-wrap {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 100%;
  margin: auto;
}
.toranoko__video-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.toranoko__KK-wrap {
  position: relative;
  padding-top: 30px;
}
.toranoko__KK-title {
  text-align: center;
  margin: 0 0 3px;
}
.toranoko__KK-text {
  position: absolute;
  width: 30%;
  top: 0;
}
.toranoko__KK-caption .nicosan {
  width: 13px;
  display: inline;
  vertical-align: -2px;
}
.toranoko__tech {
  margin-bottom: 60px;
}
.toranoko__tech-index {
  background-color: rgba(37, 89, 139, 0.4);
  border-radius: 5px;
  border: 1px solid rgba(37, 89, 139, 0.4);
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.25), inset 0px 10px 10px 0px rgba(255, 255, 255, 0.25);
  text-align: center;
}
.toranoko__tech-contents a {
  text-decoration: underline;
}
.toranoko__list {
  counter-reset: number 0;
  position: relative;
}
.toranoko__list--child {
  padding-left: 2.4em;
  background-image: url("../img/KAZAMIDORI.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position-y: center;
  margin-left: -5px !important;
  margin-top: 20px !important;
  position: relative;
}
.toranoko__list--child::before {
  counter-increment: number 1; /* number カウンタを増加 */
  content: counter(number) "."; /* 表示形式を指定 */
  position: absolute;
  left: 0.8em;
  top: calc(50% - 0.9em);
  font-size: 1.1rem;
  text-shadow: 0px 0px 3px rgb(255, 255, 255);
}
.toranoko__list--child .note {
  font-size: 0.9rem;
}
.toranoko__list .mark {
  background-color: #84D1C9;
  border-radius: 3px;
  font-size: 0.7rem;
  color: white;
  padding: 1px 3px;
}
.toranoko__point {
  text-align: center;
  text-decoration: underline;
}
.toranoko__point span {
  font-size: 1rem;
  vertical-align: text-bottom;
}
.toranoko__side-note {
  border: 1px solid rgba(37, 89, 139, 0.4);
  border-radius: 5px;
  margin: 20px 15px 15px;
  position: relative;
  padding: 20px 0 10px;
}
.toranoko__side-note--title {
  border-right: 1px solid rgba(37, 89, 139, 0.4);
  border-bottom: 1px solid rgba(37, 89, 139, 0.4);
  border-radius: 0 0 5px 0;
  display: inline;
  padding: 1px 6px;
  font-size: 0.8rem;
  position: absolute;
  top: 0;
}
.toranoko__side-note p {
  padding: 0 15px 0 calc(12px + 1em);
  font-size: 0.8rem;
  text-indent: -1em;
  margin: 5px 0;
}

.ac-course__index {
  position: relative;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5% 3%;
  transition: all 0.5s ease;
  background-color: #517aa2;
  color: #FFF;
  text-align: center;
  margin-top: 30px;
  margin-left: -20px;
  margin-right: -20px;
  border-radius: 0px 0px 10px 10px;
  /*アイコン*/
  /*　closeというクラスがついたら形状変化　*/
}
.ac-course__index::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/chevron-down-solid-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 20px;
  left: 20px;
  margin-left: 6px;
  transform: rotate(-90deg);
}
.ac-course__index.close {
  background-color: transparent;
  color: #25598B;
}
.ac-course__index.close::before {
  transform: rotate(180deg);
  background-image: url("../img/chevron-down-solid.svg");
}
.ac-course__contents {
  display: none;
  padding-bottom: 20px;
}

.ac-tech__index {
  position: relative; /*+マークの位置基準とするためrelative指定*/
  cursor: pointer;
  font-size: 1rem;
  font-weight: normal;
  padding: 3% 20px 3% 5px;
  transition: all 0.5s ease;
  /*アイコン*/
  /*　closeというクラスがついたら形状変化　*/
}
.ac-tech__index::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  background-image: url("../img/chevron-down-solid.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 14px;
  margin: 0 10px;
  transform: rotate(-90deg);
  transition: all 0.5s ease;
}
.ac-tech__index.close::after {
  transform: rotate(0deg);
}
.ac-tech__contents {
  padding: 3% 3% 3% 30px;
  border: 1px solid rgba(37, 89, 139, 0.4);
  border-radius: 0 0 5px 5px;
  border-top: none;
  display: none;
}/*# sourceMappingURL=p-original.css.map */