@charset "UTF-8";
.top {
  background: none;
  padding-bottom: 0;
}
.top__contents {
  background: rgb(206, 230, 242);
  background: linear-gradient(0deg, rgb(242, 221, 179) 20%, rgb(218, 241, 239) 42%, rgb(218, 241, 239) 50%, rgb(206, 230, 242) 60%);
}

.info {
  background: url("../img/cloud06.png") no-repeat;
  background-position: center;
  background-size: contain;
  padding-top: 260px;
  position: relative;
}
.info__cloud {
  position: absolute;
  top: -200px;
  width: 100vw;
}
.info__en-catchcopy {
  font-size: 1.5rem;
  font-family: "WindSong", cursive;
  font-weight: 400;
  text-align: center;
  position: absolute;
  width: 100%;
  top: -40px;
}
.info__text {
  text-align: center;
  line-height: 2;
  font-size: 0.9rem;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1450980392);
}
.info__text--small {
  text-align: center;
  line-height: 2;
  font-size: 0.7rem;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1450980392);
}
.info__link-wrapper {
  text-align: center;
}
.info__link {
  text-decoration: underline;
  font-size: 0.7rem;
}
.info__link span {
  vertical-align: -2px;
  font-size: 0.8rem;
  padding-left: 2px;
}
.info__link-wiki {
  text-decoration: underline;
}
.info__link-wiki span {
  font-size: 0.7rem;
  vertical-align: -2px;
  padding: 0 2px 0 1px;
}
.info__img {
  margin: 0 auto;
}
.info__teaser {
  margin: 60px 0;
}
.info__teaser-wrapper {
  position: relative;
  padding-bottom: 50.67%;
  height: 0;
  overflow: hidden;
  width: 90%;
  margin: auto;
}
.info__teaser-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.info__scroll {
  position: relative;
  margin-bottom: 150px;
}
.info__scroll::after {
  content: "";
  position: absolute;
  left: calc(50% - 0.5px);
  bottom: 0;
  width: 1px;
  height: 80px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1450980392);
  background: #25598B;
  /*線の動き1.4秒かけて動く。永遠にループ*/
  animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0;
  margin-top: 100px;
}
.info--about {
  background: url("../img/cloud02.png") no-repeat;
  background-position: center;
  background-size: contain;
}

@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}
.index {
  background-image: url("../img/cloud_contents_bg.png");
  background-size: cover;
  margin-top: 60px;
  padding-bottom: 60px;
}
.index__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  padding: 18px 25px;
  margin: auto;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.4);
}
.index__wrapper--fly {
  background-image: url("../img/content_bg_green.jpg");
}
.index__wrapper--know {
  background-image: url("../img/content_bg_red.jpg");
}
.index__wrapper--find {
  background-image: url("../img/content_bg_yellow.jpg");
}
.index__wrapper--hold {
  background-image: url("../img/content_bg_navy.jpg");
}
.index__contents {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  margin: auto;
  width: 100%;
  border-radius: 8px;
  position: relative;
  backdrop-filter: blur(4px);
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.25);
  transition: background-color 0.5s;
}
.index__contents::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #25598B;
  opacity: 0.7;
  top: 0;
  left: 15px;
}
.index__contents:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.index__a {
  display: block;
  padding: 8px 0;
  transition: opacity 0.5s;
}
.index__a:hover {
  opacity: 0.8;
}
.index__title {
  text-align: left;
  padding-left: 2em;
  font-size: 1rem;
  margin: 30px 0 10px;
}
.index__mark {
  font-size: 1.5rem;
}
.index__mark::before {
  content: "";
  background-image: url(https://placehold.jp/35x35.png);
  width: 35px;
  height: 35px;
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
}
.index__mark::after {
  content: "";
  width: 10px;
  height: 1px;
  display: inline-block;
  vertical-align: middle;
  background-color: #25598B;
  margin: 0 8px 0 20px;
}
.index__icon {
  display: inline;
}
.index__name {
  margin: 5px 0 0;
  font-weight: bold;
  font-size: 1rem;
}
.index__text {
  font-size: 0.7rem;
  margin: 2px 0 5px;
}

.test {
  width: 100%;
  height: auto;
}/*# sourceMappingURL=p-top.css.map */