@charset "UTF-8";
@font-face {}
body, a, h1, h2, h3, h4, h5, h6 {
  color: #25598B;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.main {
  position: relative;
  padding-top: 50px;
  padding-bottom: 20px;
  background: rgb(206, 230, 242);
  background: linear-gradient(0deg, rgb(242, 221, 179) 20%, rgb(218, 241, 239) 42%, rgb(218, 241, 239) 50%, rgb(206, 230, 242) 60%);
}
.main__fpo-text {
  text-align: center;
  padding: 10px 0;
  margin: 0;
  color: #FFF;
  font-size: 10px;
}

.common__title {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin-top: 20px;
  font-family: "Kavivanar", cursive;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.common__title::before, .common__title::after {
  content: "";
  width: 10px;
  height: 2px;
  background-color: #25598B;
}
.common___img-wrap {
  margin: 40px 0 60px;
}
@media (min-width: 768px) {
  .common___img-wrap {
    margin: 40px auto 60px;
    max-width: 660px;
  }
}
.common__mural {
  margin-bottom: 10px;
}
.common__mural img {
  width: 100%;
}
.common__fixed--tab {
  position: fixed;
  right: -280px;
  top: 0;
  padding-top: 50px;
  z-index: 50;
  transition: all 0.5s 0s ease;
}
.common__fixed--tab .toranoko__muralno-wrap {
  margin: 0 !important;
  background-color: rgb(206, 230, 242);
  padding: 10px 10px 0 0;
  border-radius: 0 0 0 8px;
}
.common__fixed--tab .common__fixed--tab-icon {
  background-color: rgb(206, 230, 242);
  padding: 5px;
  border-radius: 4px 0 0 4px;
  transition: all 0.5s 0s ease;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.common__fixed--tab-icon {
  width: 60px;
  height: 40px;
  display: none;
}
.common__fixed--tab-active {
  right: 0;
  transition: all 0.5s 0s ease;
}
.common__fixed--tab-active .common__fixed--toggle-btn {
  transform: rotate(-90deg);
  padding: 0 3px 3px 3px;
}
.common__fixed--toggle-btn {
  transform: rotate(90deg);
  padding: 3px 3px 0 3px;
  width: 20px;
}
.common__fixed--tab-img {
  width: 30px;
}
.common__contents {
  margin: 10px 5vw;
}
@media (min-width: 768px) {
  .common__contents {
    width: 660px;
    margin: 10px auto;
  }
}
.common__contents-title {
  color: #FFF;
  margin: 20px 0 10px;
  font-size: 1.5rem;
  font-weight: bold;
}
.common__index {
  position: relative;
  background-color: #517aa2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #FFF;
}
.common__index::before {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.7);
  content: "";
}
.common__headline {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 25px;
  font-size: 1.3rem;
  font-weight: bold;
}
.common__headline::before, .common__headline::after {
  background-image: url("../img/common_hishi.png");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  width: 10px;
  height: 12px;
  margin: 0 5px;
}
.common__headline--side-note {
  margin-top: -20px;
  text-align: center;
}
.common__wrap {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding-top: 1px;
  padding-bottom: 30px;
}
.common__text {
  text-align: center;
  line-height: 2;
  font-size: 0.9rem;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1450980392);
}
.common__text--small {
  text-align: center;
  line-height: 2;
  font-size: 0.7rem;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1450980392);
}
.common__arrow-left {
  vertical-align: -0.25em;
}
.common__sentence {
  padding: 0 10px;
}
.common__sentence p {
  margin: 10px 0;
}
.common__sentence i {
  width: 20px;
  text-align: right;
  vertical-align: middle;
  transform: rotate(-90deg);
}
.common__caption {
  font-size: 0.8rem;
  text-align: right;
  margin: 0;
}
.common__img--skykid {
  text-align: center;
}
.common__x-button {
  background-color: rgba(37, 89, 139, 0.4);
  border-radius: 38px;
  border: 1px solid rgba(37, 89, 139, 0.4);
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.25), inset 0px 10px 10px 0px rgba(255, 255, 255, 0.25);
  text-align: center;
  color: #25598B;
  padding: 10px;
  font-size: 13px;
  display: inline-block;
}
.common__x-button span {
  color: #FFF;
}
.common__link-internal {
  text-align: right;
  font-size: 0.8rem;
  margin-top: 10px;
}
.common__link-external {
  text-decoration: underline;
}
.common__open-in-new {
  vertical-align: -2px;
  font-size: 0.8rem;
  padding-left: 2px;
}
.common__list {
  counter-reset: number 0;
  position: relative;
}
.common__list--child {
  padding-left: 2.4em;
  background-image: url("../img/KAZAMIDORI.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position-y: center;
  margin-left: -5px !important;
  margin-top: 20px !important;
  position: relative;
}
.common__list--child::before {
  counter-increment: number 1; /* number カウンタを増加 */
  content: counter(number) "."; /* 表示形式を指定 */
  position: absolute;
  left: 0.8em;
  top: calc(50% - 0.9em);
  font-size: 1.1rem;
  text-shadow: 0px 0px 3px rgb(255, 255, 255);
}
.common__list--child .note {
  font-size: 0.9rem;
}
.common__list .mark {
  background-color: #84D1C9;
  border-radius: 3px;
  font-size: 0.7rem;
  color: white;
  padding: 1px 3px;
}
.common__list-simple-num {
  counter-reset: number 0;
  position: relative;
  margin-top: 10px;
  border: 1px solid rgb(206, 230, 242);
  padding: 5px 10px;
  border-radius: 5px;
}
.common__list-simple-num--child {
  padding-left: 2em;
  margin-left: -5px !important;
  position: relative;
}
.common__list-simple-num--child::before {
  counter-increment: number 1; /* number カウンタを増加 */
  content: counter(number) "."; /* 表示形式を指定 */
  position: absolute;
  left: 0.8em;
  font-size: 1rem;
  text-shadow: 0px 0px 3px rgb(255, 255, 255);
}
.common__list-simple {
  position: relative;
  border: 1px solid rgb(206, 230, 242);
  padding: 5px 20px;
  border-radius: 5px;
  margin-top: 10px;
}
.common__list-simple--child {
  padding-left: 1em;
  background-image: url("../img/common_hishi.png");
  background-size: 8px;
  background-repeat: no-repeat;
  background-position-y: center;
  margin-left: -5px !important;
  position: relative;
}
.common__list-simple--child::before {
  position: absolute;
  left: 0.8em;
  top: calc(50% - 0.9em);
  font-size: 1.1rem;
  text-shadow: 0px 0px 3px rgb(255, 255, 255);
}
.common__list-simple--child .note {
  font-size: 0.9rem;
}
.common__list-simple .mark {
  background-color: #84D1C9;
  border-radius: 3px;
  font-size: 0.7rem;
  color: white;
  padding: 1px 3px;
}
.common__subtitle {
  font-weight: bold;
}
.common__subtitle img {
  width: 30px;
  display: inline;
  padding-right: 5px;
}
.common__word-link {
  text-decoration: underline;
}
.common__word-link::after {
  content: "";
  background-image: url("../img/icon-word-link.png");
  background-size: 1em;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  width: 1.3em;
  height: 1em;
  display: inline-block;
  vertical-align: bottom;
}

.media__title {
  margin: 0 0 5px;
  font-size: 0.8rem;
  text-align: center;
}
.media__title span {
  font-size: 1rem;
  vertical-align: -3px;
  padding: 0 2px 0 3px;
}
.media__author {
  font-size: 0.8rem;
  margin: 5px 20px;
  text-align: right;
}

.l-header {
  background-color: #25598B;
  padding: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  z-index: 100;
  height: 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
.l-header__wrap {
  height: 30px;
}
.l-header__logo {
  width: 78%;
  display: block;
  padding-left: 5px;
}
@media (min-width: 480px) {
  .l-header__logo {
    width: 50%;
  }
}

#g-nav {
  background-color: #25598B;
}

.l-footer {
  background-color: #25598B;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.l-footer__list {
  padding: 10px;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 0.625rem;
}
.l-footer__list li a {
  color: #FFF;
}
.l-footer__logo {
  display: flex;
  margin: 1.5vh 0 40px;
}
.l-footer__logo a {
  margin: auto;
  width: 40%;
  padding-right: 10px;
}
@media (min-width: 460px) {
  .l-footer__logo a {
    width: 140px;
  }
}

.kv {
  height: 85vh;
}
@media (min-width: 460px) {
  .kv {
    height: 40vh;
  }
}
.kv__text {
  display: none;
  border-radius: 5px;
  color: #25598B;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 56vw;
  top: 120px;
  left: 22vw;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(4px);
  z-index: -1;
}
.kv__text::before {
  display: none;
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #25598B;
  opacity: 0.7;
  top: 0;
  left: 15px;
}
.kv__symbol {
  width: 76%;
  margin-left: 11%;
  margin-top: -5px;
  position: fixed;
  z-index: -1;
  opacity: 0.7;
}
@media (min-width: 460px) {
  .kv__symbol {
    display: none;
  }
}
.kv__symbol--pc {
  display: none;
}
@media (min-width: 460px) {
  .kv__symbol--pc {
    display: block;
    width: 240px;
    margin-left: calc(50% - 120px);
    margin-top: 15px;
  }
}
.kv__movie {
  position: fixed;
  z-index: -2; /*最背面に設定*/
  top: -10%;
  right: -10px;
  left: -10px;
  bottom: 0;
  overflow: hidden;
}
.kv__movie #video {
  background: url("img/kv_img_sample.jpg") no-repeat;
  /*天地中央配置*/
  position: absolute;
  z-index: -1;
  top: -10%;
  /*縦横幅指定*/
  min-height: 100%;
  min-width: 100%;
}
@media (min-width: 460px) {
  .kv__movie {
    background-color: rgb(206, 230, 242);
  }
}
.kv__iframe-wrapper {
  position: relative;
  padding-bottom: 217.8%;
  height: 0;
  overflow: hidden;
}
@media (min-width: 460px) {
  .kv__iframe-wrapper {
    display: none;
  }
}
.kv__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=style.css.map */