@charset "utf-8";

@use "../../global/forwards" as fw;

.toranoko {
    &__muralno-wrap {
        display: flex;
        flex-direction: column;
        margin: 0 20px;
    }

    &__muralno {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        margin-bottom: 5px;
    }

    &__muralno-img {
        width: 60px;
    }

    &__muralno-img--10 {
        width: 75px;
    }

    &__muralno-img-empty {
        width: 40px;
    }

    &__wrap {
        background-color: rgba(255, 255, 255, 0.8);
        border-top: 1px solid transparent;
        border-radius: 10px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin-bottom: 2rem;
    }

    .common__index {
        i {
            margin-right: 1px;
            width: 15px;
            text-align: center;
            font-size: 0.675rem;
        }
    }

    &__index {
        padding: 15px 10px 5px;
    }

    &__title {
        color: #FFF;
        margin: 0;
        font-size: 1.5rem;
        font-weight: bold;

        &--crs {
            display: block;
            font-size: 1.25rem;
        }
        &--no {
            font-size: 1.4rem;
            padding: 0 3px;
        }
    }

    &__about {
        text-align: right;

        p {
            font-size: 0.8rem;
            margin: 5px 0 5px 5px;
        }
    }

    &__contents-wrap {
        padding: 20px;
        padding-bottom: 0;
    }

    &__video-wrap {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        width: 100%;
        margin: auto;
    }

    &__video-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__KK-wrap {
        position: relative;
        padding-top: 30px;
    }

    &__KK-title {
        text-align: center;
        margin: 0 0 3px;
    }

    &__KK-text {
        position: absolute;
        width: 30%;
        top: 0;
    }

    &__KK-caption {
        .nicosan {
            width: 13px;
            display: inline;
            vertical-align: -2px;
        }
    }

    &__tech {
        margin-bottom: 60px;
    }

    &__tech-index {
        background-color: rgba(37, 89, 139, 0.4);
        border-radius: 5px 5px 0px 0px;
        border: 1px solid rgba(37, 89, 139, 0.4);
        box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.25), inset 0px 10px 10px 0px rgba(255, 255, 255, 0.25);
        text-align: center;
        padding: 3% 5px;
        position: relative;
        align-items: center;
    }

    &__tech-contents-wrap {
        position: relative;
    }

    &__tech-button-wrap {
        width: 98%;
        height: 96%;
        background-color: rgba(255, 255, 255, 0.3);
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        position: absolute;
        left: 1%;
        top: 1%;
        border-radius: 0 0 5px 5px;
        display: flex;
        transition: all 1s ease;
    }

    &__tech-button {
        background-color: #FFF;
        border-radius: 25px;
        border: 1px solid rgba(37, 89, 139, 0.4);
        box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.25), inset 0px 10px 10px 0px rgba(255, 255, 255, 0.25);
        display: flex;
        width: 140px;
        height: 50px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: auto;
    }

    &__tech-contents {
        padding: 4%;
        border: 1px solid rgba(37, 89, 139, 0.4);
        border-radius: 0 0 5px 5px;
        border-top: none;

        a {
            text-decoration: underline;
        }
    }

    &__point {
        text-align: center;
        text-decoration: underline;

        span {
            font-size: 1rem;
            vertical-align: text-bottom;
        }
    }

    &__side-note {
        border: 1px solid rgba(37, 89, 139, 0.4);
        border-radius: 5px;
        margin: 20px 15px 15px;
        position: relative;
        padding: 20px 0 10px;

        &--title {
            border-right: 1px solid rgba(37, 89, 139, 0.4);
            border-bottom: 1px solid rgba(37, 89, 139, 0.4);
            border-radius: 0 0 5px 0;
            display: inline;
            padding: 1px 6px;
            font-size: 0.8rem;
            position: absolute;
            top: 0;
        }
        
        p {
            padding: 0 15px 0 calc(12px + 1em);
            font-size: 0.8rem;
            text-indent: -1em;
            margin: 5px 0;
        }
    }

    &__fixed-close {
        justify-content: space-around;
        background-color: #517aa2;
        display: flex;
        width: 130px;
        padding: 5px 6px;
        color: #FFF;
        border-radius: 5px;
        align-items: center;
        margin-left: auto;
        margin-right: -10px;
        position: sticky;
        bottom: 10px;   
        margin-bottom: -80px;
        margin-top: 40px;

        img {
            transform: rotate(180deg);
            width: 15px;
        }

        /*　closeというクラスがついたら形状変化　*/
        &.close {
            display: none;
        }
    }
}

.ac-course {
    &__index {//「詳細を見る」
        position: relative;
        cursor: pointer;
        font-size: 1.1rem;
        font-weight: bold;
        transition: all 0.5s ease;
        background-color: mix(fw.$base_color, #FFF, 80%);
        color: #FFF;
        text-align: center;
        margin-top: 30px;
        margin-left: -20px;
        margin-right: -20px;
        border-radius: 0px 0px 10px 10px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        /*アイコン*/
        &::before{
            position: absolute;
            content: "";
            width: 15px;
            height: 15px;
            background-image: url("../img/chevron-down-solid-white.svg");
            background-repeat: no-repeat;
            background-position: center;
            top: 37%;
            left: calc(50% - 90px);
            transform: rotate(-90deg);
        }

        /*　closeというクラスがついたら形状変化　*/
        &.close {
            display: none;
        }

        &--close {//「詳細を閉じる」
            position: relative;
            cursor: pointer;
            font-size: 1.1rem;
            font-weight: bold;
            transition: all 0.5s ease;
            background-color: mix(fw.$base_color, #FFF, 80%);
            color: #FFF;
            text-align: center;
            margin-left: -20px;
            margin-right: -20px;
            border-radius: 0px 0px 10px 10px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 10;
    
            /*アイコン*/
            &::before{
                position: absolute;
                content: "";
                width: 15px;
                height: 15px;
                background-image: url("../img/chevron-down-solid-white.svg");
                background-repeat: no-repeat;
                background-position: center;
                top: 37%;
                left: calc(50% - 110px);
                transform: rotate(180deg);
            }
    
            /*　closeというクラスがついたら形状変化　*/
            &.close {
                display: none;
            }
        }
    }

    &__contents {
        display: none;
        padding-bottom: 40px;
    }
}

.ac-tech {
    &__index {
        position: relative;/*+マークの位置基準とするためrelative指定*/
        cursor: pointer;
        font-size:1rem;
        font-weight: normal;
        padding: 3% 20px 3% 5px;
        transition: all .5s ease;

        /*アイコン*/
        &::after{
            position: absolute;
            content:'';
            width: 18px;
            height: 18px;
            background-image: url("../img/chevron-down-solid.svg");
            background-repeat: no-repeat;
            background-position: center;
            top: 14px;
            margin: 0 10px;
            transform: rotate(-90deg);
            transition: all .5s ease;
        }

        /*　closeというクラスがついたら形状変化　*/
        &.close::after{
            transform: rotate(0deg);
        }
    }

    &__contents {
        padding: 3% 3% 3% 30px;
        border: 1px solid rgba(37, 89, 139, 0.4);
        border-radius: 0 0 5px 5px;
        border-top: none;
        display: none;
    }
}

.qa {
    &__contents {   
        margin-bottom: 20px;
    }

    &__num {
        font-weight: bold;
        text-align: center;
        margin-bottom: 5px;
    }

    &__marker {
        background: linear-gradient(transparent 70%, #ffffff70 30%);
    }

    &__moth {
        margin-bottom: 20px;
    }

    &__moth-icon {
        display: flex;
        justify-content: flex-end;
        margin: 0;

        img {
            width: 70px;
            border-radius: 35px;
            border: 5px solid #CEE5F2;
        }
    }

    &__moth-text {
        margin: 10px 0 10px 5px;
        background-color: fw.$sub_color;
        padding: 15px;
        border-radius: 15px;
        border-top-right-radius: 0;
    }

    &__eagle {
        margin-bottom: 40px;
    }

    &__eagle-icon {
        display: flex;
        justify-content: flex-start;
        margin: 0;

        img {
            width: 70px;
            border-radius: 35px;
            border: 5px solid #CEE5F2;
        }
    }

    &__eagle-text {
        margin: 10px 5px 10px 0;
        background-color: #e3e3e3;
        padding: 15px;
        border-radius: 15px;
        border-top-left-radius: 0;
    }

    &__eagle-img {
        margin: 0;
    }
}