@charset "utf-8";

@use "../../global/forwards" as fw;

.top {
    background: none;
    padding-bottom: 0;

    &__contents {
        background: rgba(206, 230, 242, 1);
        background: linear-gradient(0deg, rgba(242, 221, 179, 1) 20%, rgba(218, 241, 239, 1) 42%, rgba(218, 241, 239, 1) 50%, rgba(206, 230, 242, 1) 60%);    }
    }

.info {
    background: url("../img/cloud06.png") no-repeat;
    background-position: center;
    background-size: contain;
    padding-top: 260px;
    position: relative;

    &__cloud {
        position: absolute;
        top: -200px;
        width: 100vw;
    }

    &__en-catchcopy {
        font-size: 1.5rem;
        font-family: "WindSong", cursive;
        font-weight: 400;
        text-align: center;
        position: absolute;
        width: 100%;
        top: -40px;
    }

    &__text {
        text-align: center;
        line-height: 2;
        font-size: 0.9rem;
        text-shadow: 0px 2px 4px #00000025;


        &--small {
            text-align: center;
            line-height: 2;
            font-size: 0.7rem;
            text-shadow: 0px 2px 4px #00000025; 
        }
    }

    &__link-wrapper {
        text-align: center;
    }

    &__link {
        text-decoration: underline;
        font-size: 0.7rem;
        span {
            vertical-align: -2px;
            font-size: 0.8rem;
            padding-left: 2px;
        }
    }

    &__link-wiki {
        text-decoration: underline;
        span {
            font-size: 0.7rem;
            vertical-align: -2px;
            padding: 0 2px 0 1px;
        }
    }

    &__img {
        margin: 0 auto;
    }

    &__teaser {
        margin: 60px 0;
    }

    &__teaser-wrapper {
        position: relative;
        padding-bottom: 50.67%;
        height: 0;
        overflow: hidden;
        width: 90%;
        margin: auto;
    }

    &__teaser-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__scroll {
        position: relative;
        margin-bottom: 150px;
        
        // &::after {
        //     display: block;
        //     position: absolute;
        //     bottom: -50px;
        //     left: calc(50vw - 50px / 2);
        //     content: "";
        //     width: 50px;
        //     height: 1px;
        //     transform: rotate(90deg);
        //     background-color: fw.$base_color;
        // }

        &::after{
            content: "";
            position: absolute;
            left: calc(50% - 0.5px);
            bottom: 0;
            width: 1px;
            height: 80px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1450980392);
            background: fw.$base_color;
              /*線の動き1.4秒かけて動く。永遠にループ*/
            animation: pathmove 1.4s ease-in-out infinite;
            opacity:0;
            margin-top: 100px;
        }
    }

    &--about {
        background: url("../img/cloud02.png") no-repeat;
        background-position: center;
        background-size: contain;
    }
}

@keyframes pathmove{
    0%{
      height:0;
      top:0;
      opacity: 0;
    }
    30%{
      height:30px;
      opacity: 1;
    }
    100%{
      height:0;
      top:50px;
      opacity: 0;
    }
}

.index {
    background-image: url("../img/cloud_contents_bg.png");
    background-size: cover;
    margin-top: 60px;
    padding-bottom: 60px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 90%;
        padding: 18px 25px;
        margin: auto;
        background-position: center;
        background-size: cover;
        border-radius: 5px;
        box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.4);

        &--fly {
            background-image: url("../img/content_bg_green.jpg");
        }

        &--know {
            background-image: url("../img/content_bg_red.jpg");
        }

        &--find {
            background-image: url("../img/content_bg_yellow.jpg");
        }

        &--hold {
            background-image: url("../img/content_bg_navy.jpg");
        }
    }

    &__contents {
        text-align: center;
        background-color: rgba(255, 255, 255, .8);
        margin: auto;
        width: 100%;
        border-radius: 8px;
        position: relative;
        backdrop-filter: blur(4px);
        box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.25);
        transition: background-color .5s;

        &::before {
            content: "";
            position: absolute;
            width: 4px;
            height: 100%;
            background-color: fw.$base_color;
            opacity: 0.7;
            top: 0;
            left: 15px;
        }

        &:hover {
            background-color: rgba(255, 255, 255, .6);
        }
    }

    &__a {
        display: block;
        padding: 8px 0;
        transition: opacity .5s;

        &:hover {
            opacity: .8;
        }
    }

    &__title {
        text-align: left;
        padding-left: 2em;
        font-size: 1rem;
        margin: 30px 0 10px;
    }

    &__mark {
        font-size: 1.5rem;

        &::before {
            content: "";
            background-image: url(https://placehold.jp/35x35.png);
            width: 35px;
            height: 35px;
            display: inline-block;
            vertical-align: top;
            margin-right: 8px;
        }

        &::after {
            content: "";
            width: 10px;
            height: 1px;
            display: inline-block;
            vertical-align: middle;
            background-color: fw.$base_color;
            margin: 0 8px 0 20px;
        }
    }

    &__icon {
        display: inline;
    }

    &__name {
        margin: 5px 0 0;
        font-weight: bold;
        font-size: 1rem;
    }

    &__text {
        font-size: 0.7rem;
        margin: 2px 0 5px;
    }

}

.test {
    width: 100%;
    height: auto;;
}