@charset "utf-8";

@use "../global/forwards" as fw;

.kv {
    height: 82vh;

    &__text {
        display: none;
        // position: fixed;
        // width: 200px;
        // text-align: center;
        // left: calc(50% - 200px/2);
        // color: #eee;
        // top: 120px;
        // text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
        // z-index: -1;
        border-radius: 5px;
        color: #25598B;
        text-align: center;
        padding: 10px;
        position: fixed;
        width: 56vw;
        top: 120px;
        left: 22vw;
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(4px);
        z-index: -1;

        &::before {
            display: none;
            content: "";
            position: absolute;
            width: 4px;
            height: 100%;
            background-color: #25598B;
            opacity: 0.7;
            top: 0;
            left: 15px;
        }
    }

    &__symbol {
        width: 46%;
        margin-left: 26%;
        margin-top: 15px;
        position: fixed;
        z-index: -1;
    }

    &__movie {
        position: fixed;
        z-index: -2;/*最背面に設定*/
        top: -10%;
        right: -10px;
        left: -10px;
        bottom:0;
        overflow: hidden;

        #video {
            background: url('img/kv_img_sample.jpg') no-repeat; // 動画が再生を始めるまで、cssのほうでも背景を設定します。
            /*天地中央配置*/
            position: absolute;
            z-index: -1;
            top: -10%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            /*縦横幅指定*/
            // width: 177.77777778vh; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
            // height: 56.25vw; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
            min-height: 100%;
            min-width: 100%;
        }
    }

    &__iframe-wrapper {
        position: relative;
        padding-bottom: 217.8%;
        height: 0;
        overflow: hidden;
    }

    &__iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}