@charset "utf-8";

@use "../global/forwards" as fw;

@font-face { 
    // font-family: "nicomoji"; 
    // src: url("/assets/font/nicomoji-plus-excerpt.ttf") format("truetype")
  }

  // html {
  //   font-size: 62.5%;
  // }

  body, a, h1, h2, h3, h4, h5, h6 {
    color: fw.$base_color;
    // font-weight: bold;
  }

  a:hover {
    text-decoration: none;
    color: inherit;
  }

  .main {
    &__fpo-text {
        text-align: center;
        padding: 10px 0;
        margin: 0;
        color: #FFF;
        font-size: 10px;
    }

    position: relative;
    padding-top: 65px;
    padding-bottom: 20px;
    background: rgba(206, 230, 242, 1);
    background: linear-gradient(0deg, rgba(242, 221, 179, 1) 20%, rgba(218, 241, 239, 1) 42%, rgba(218, 241, 239, 1) 50%, rgba(206, 230, 242, 1) 60%);


}

.common {
    &__contents {
      margin: 10px 5vw;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      background-color: rgba(255, 255, 255, .8);
      border-radius: 10px;
      border-top: 1px solid transparent;
    }

    &__title {
      font-size: 1.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 10px;
      margin-top: 20px;
      font-family: "Kavivanar", cursive;
      font-weight: 400;
      font-style: normal;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
      &::before,
      &::after {
        content: '';
        width: 10px;
        height: 2px;
        background-color: fw.$base_color;
      }
    }

    &__index {
      position: relative;
      background-color: mix(fw.$base_color, #FFF, 80%);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      color: #FFF;

      &::before {
        position: absolute;
        top: 10px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: rgba(255, 255, 255, .7);
        content: "";
      }
    }

    &__headline {
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 40px 0 25px;
      font-size: 1.3rem;
      font-weight:bold;
      
      &::before, &::after {
        background-image: url("../img/common_hishi.png");
        background-repeat: no-repeat;
        background-position: center;
        content: "";
        width: 10px;
        height: 12px;
        margin: 0 5px;
      }
    }

    &__arrow-left {
      vertical-align: -0.25em;
    }

    &__sentence {
      padding: 0 10px;

      p {
        margin: 10px 0;
      }

      i {
        width: 20px;
        text-align: right;
        vertical-align: middle;
        transform: rotate(-90deg);
      }
    }

    &__caption {
      font-size: 0.8rem;
      text-align: right;
      margin: 0;
    }

    &__img {
      &--skykid {
        text-align: center;
      }
    }

    &__x-button {
      background-color: rgba(37, 89, 139, 0.4);
      border-radius: 38px;
      border: 1px solid rgba(37, 89, 139, 0.4);
      box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.25), inset 0px 10px 10px 0px rgba(255, 255, 255, 0.25);
      text-align: center;
      color: fw.$base_color;
      padding: 10px;
      font-size: 13px;
      display: inline-block;

      span {
        color: #FFF;
      }
    }

    &__link {
      text-align: right;
      font-size: 0.8rem;
      margin-top: 10px;
    }
  }

  .media { 
    &__title {
      margin: 0 0 5px;
      font-size: 0.8rem;
      text-align: center;

      span {
        font-size: 1rem;
        vertical-align: -3px;
        padding: 0 2px 0 3px;
      }
    }

    &__author {
      font-size: 0.8rem;
      margin: 5px 20px;
      text-align: right;
    }
  }