@charset "utf-8";

@use "../global/forwards" as fw;

@font-face { 
    // font-family: "nicomoji"; 
    // src: url("/assets/font/nicomoji-plus-excerpt.ttf") format("truetype")
  }

  // html {
  //   font-size: 62.5%;
  // }

  body, a, h1, h2, h3, h4, h5, h6 {
    color: fw.$base_color;
    // font-weight: bold;
  }

  a:hover {
    text-decoration: none;
    color: inherit;
  }

.main {
  &__fpo-text {
      text-align: center;
      padding: 10px 0;
      margin: 0;
      color: #FFF;
      font-size: 10px;
  }

  position: relative;
  padding-top: 50px;
  padding-bottom: 20px;
  background: rgba(206, 230, 242, 1);
  background: linear-gradient(0deg, rgba(242, 221, 179, 1) 20%, rgba(218, 241, 239, 1) 42%, rgba(218, 241, 239, 1) 50%, rgba(206, 230, 242, 1) 60%);
}

.common {
  &__title {
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-top: 20px;
    font-family: "Kavivanar", cursive;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &::before,
    &::after {
      content: '';
      width: 10px;
      height: 2px;
      background-color: fw.$base_color;
    }
  }

  &___img-wrap {
    margin: 40px 0 60px;
  }

  &__mural {
    margin-bottom: 10px;

    img {
      width: 100%;
    }
  }

  &__fixed {
    &--tab {
      position: fixed;
      right: -280px;
      top: 0;
      padding-top: 50px;
      z-index: 50 ;
      transition: all 0.5s 0s ease;

      .toranoko__muralno-wrap {
        margin: 0 !important;
        background-color: rgba(206, 230, 242, 1);
        padding: 10px 10px 0 0;
        border-radius: 0 0 0 8px;
      }

      .common__fixed--tab-icon {
        background-color: rgba(206, 230, 242, 1);
        padding: 5px;
        border-radius: 4px 0 0 4px;
        transition: all 0.5s 0s ease;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
    }

    &--tab-icon {
      width: 60px;
      height: 40px;
      display: none;
    }

    &--tab-active {
      right: 0;
      transition: all 0.5s 0s ease;

      .common__fixed--toggle-btn {
        transform: rotate(-90deg);
        padding: 0 3px 3px 3px;
      }
    }

    &--toggle-btn {
      transform: rotate(90deg);
      padding: 3px 3px 0 3px;
      width: 20px;
    }

    &--tab-img {
      width: 30px;
    }
  }

  &__contents {
    margin: 10px 5vw;
  }

  &__contents-title {
    color: #FFF;
    margin: 20px 0 10px;
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__index {
    position: relative;
    background-color: mix(fw.$base_color, #FFF, 80%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #FFF;

    &::before {
      position: absolute;
      top: 10px;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: rgba(255, 255, 255, .7);
      content: "";
    }
  }

  &__headline {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 25px;
    font-size: 1.3rem;
    font-weight:bold;
    
    &::before, &::after {
      background-image: url("../img/common_hishi.png");
      background-repeat: no-repeat;
      background-position: center;
      content: "";
      width: 10px;
      height: 12px;
      margin: 0 5px;
    }

    &--side-note {
      margin-top: -20px;
      text-align: center;
    }
  }

  &__wrap {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding-top: 1px;
    padding-bottom: 30px;
  }

  &__text {
    text-align: center;
    line-height: 2;
    font-size: 0.9rem;
    text-shadow: 0px 2px 4px #00000025;


    &--small {
        text-align: center;
        line-height: 2;
        font-size: 0.7rem;
        text-shadow: 0px 2px 4px #00000025; 
    }
  }

  &__arrow-left {
    vertical-align: -0.25em;
  }

  &__sentence {
    padding: 0 10px;

    p {
      margin: 10px 0;
    }

    i {
      width: 20px;
      text-align: right;
      vertical-align: middle;
      transform: rotate(-90deg);
    }
  }

  &__caption {
    font-size: 0.8rem;
    text-align: right;
    margin: 0;
  }

  &__img {
    &--skykid {
      text-align: center;
    }
  }

  &__x-button {
    background-color: rgba(37, 89, 139, 0.4);
    border-radius: 38px;
    border: 1px solid rgba(37, 89, 139, 0.4);
    box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.25), inset 0px 10px 10px 0px rgba(255, 255, 255, 0.25);
    text-align: center;
    color: fw.$base_color;
    padding: 10px;
    font-size: 13px;
    display: inline-block;

    span {
      color: #FFF;
    }
  }

  &__link-internal {
    text-align: right;
    font-size: 0.8rem;
    margin-top: 10px;
  }

  &__link-external {
    text-decoration: underline;
  }

  &__open-in-new {
    vertical-align: -2px;
    font-size: 0.8rem;
    padding-left: 2px;
  }

  &__list {
    counter-reset: number 0;
    position: relative;

    &--child {
        padding-left: 2.4em;
        background-image: url("../img/KAZAMIDORI.png");
        background-size: 30px;
        background-repeat: no-repeat;
        background-position-y: center;
        margin-left: -5px !important;
        margin-top: 20px !important;
        position: relative;

        &::before{
            counter-increment: number 1;      /* number カウンタを増加 */
            content:counter(number)".";      /* 表示形式を指定 */
            position: absolute;
            left: 0.8em;
            top: calc(50% - 0.9em);
            font-size: 1.1rem;
            text-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
        }

        .note {
            font-size: 0.9rem;
        }
    }

    .mark {
        background-color: fw.$official_color;
        border-radius: 3px;
        font-size: 0.7rem;
        color: #FFFF;
        padding: 1px 3px;
    }
  }

  &__list-simple-num {
    counter-reset: number 0;
    position: relative;
    margin-top: 10px;
    border: 1px solid rgb(206, 230, 242);
    padding: 5px 10px;
    border-radius: 5px;

    &--child {
        padding-left: 2em;
        margin-left: -5px !important;
        position: relative;

        &::before{
            counter-increment: number 1;      /* number カウンタを増加 */
            content:counter(number)".";      /* 表示形式を指定 */
            position: absolute;
            left: 0.8em;
            font-size: 1rem;
            text-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
        }
    }
  }

  &__list-simple {
    position: relative;
    border: 1px solid rgb(206, 230, 242);
    padding: 5px 20px;
    border-radius: 5px;
    margin-top: 10px;

    &--child {
        padding-left: 1em;
        background-image: url("../img/common_hishi.png");
        background-size: 8px;
        background-repeat: no-repeat;
        background-position-y: center;
        margin-left: -5px !important;
        position: relative;

        &::before{
            position: absolute;
            left: 0.8em;
            top: calc(50% - 0.9em);
            font-size: 1.1rem;
            text-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
        }

        .note {
            font-size: 0.9rem;
        }
    }

    .mark {
        background-color: fw.$official_color;
        border-radius: 3px;
        font-size: 0.7rem;
        color: #FFFF;
        padding: 1px 3px;
    }
  }

  &__subtitle {
    font-weight: bold;

    img {
      width: 30px;
      display: inline;
      padding-right: 5px;
    }
  }

  &__word-link {
    text-decoration: underline;

    &::after {
      content: "";
      background-image: url("../img/icon-word-link.png");
      background-size: 1em;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: top;
      width: 1.3em;
      height: 1em;
      display: inline-block;
      vertical-align: bottom;
    }
  }
}

.media { 
  &__title {
    margin: 0 0 5px;
    font-size: 0.8rem;
    text-align: center;

    span {
      font-size: 1rem;
      vertical-align: -3px;
      padding: 0 2px 0 3px;
    }
  }

  &__author {
    font-size: 0.8rem;
    margin: 5px 20px;
    text-align: right;
  }
}